.section-card {
  padding: 3px;
}

.metric-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.metric-value {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.value {
  font-size: 1.4rem;
  font-weight: bold;
}